
  .createAccount {
    color: #005935;
    display: block;
    margin : auto;
    margin-top: 2rem;
  }

  .success {
    color: #00bc77;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }